Can't install with scheme-less URL

Currently, the app hardcodes the URL provided during installation to lots of (all?) links / references. This causes problems if you want to run the site over HTTP and HTTPS. The easiest solution is to install with a scheme-less URL, e.g. `//example.com` rather than `http://example.com`

Unfortunately the installer reports this as an invalid URL (Scheme-less URLs aren't validated by filter_var), so you can't install it like that (Although manually editing the config post-install works well). 



Out of interest, why not just use https?

Be careful with schemeless urls. I'm not even sure if they are valid in HTTP, or only in HTML...
many libs may translate "//example.com" into "http://example.com//example.com".

I think the solution is not to allow an url without a scheme but to allow multiple url's (and choose a default one)

Out of interest, why not just use https?

A fair comment. If I was installing anew I probably would, unfortunately I have some repos that I don't control and can't easily change set up with HTTP webhooks, so didn't want to risk breaking those by changing. 

An alternative to allowing scheme-less URLs would be to use relative URLs rather than absolute, but not sure if that's feasible. 

Either way, this probably sits right at the bottom of any priority pile ;) The workaround is straightforward, and maintainable.

Schema less is a valid URL from [RFC-3986 section 4.2](http://tools.ietf.org/html/rfc3986#section-4.2) but some external library can manage it in the wrong way, we can:

 1. ignore the problem
 1. use relative path only in the generated markup
 1. have multiple base url, and try to detect the current one

I vote for the second solution, and use schemaless for external dependencies (JS/CSS from CDN).